@using BudgetBills.Models;
@model IncomeViewModel;
@{
    ViewData["Title"] = "Income Sources";
}

<style>
    #income_table {
        max-height: 500px;
        overflow-y: auto;
    }

    .clickable_row:hover {
        cursor: pointer;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Income</h1>

    <!-- Button trigger modal -->
    <div class="d-flex align-items-end justify-content-end w-75 m-auto">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addIncomeModal">
            Add Income
        </button>
    </div>
    <div class="row">

        <!--table-->
        <div id="income_table">
            <!--income table-->
            <table class="table table-hover table-dark mt-4 w-75 m-auto">
                <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Receive Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IncomeSource income in Model.IncomeSources)
                    {
                        <tr class="clickable_row" data-billid="@income.IncomeId">
                            <td>@income.Description</td>
                            <td>@income.AmountFormatted</td>
                            <td>@income.DateFormatted</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add Income Modal -->
    <div class="modal fade" id="addIncomeModal" tabindex="-1" aria-labelledby="addIncomeModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addIncomeModalLabel">New Income Source</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--input form-->
                    <div class="row m-auto">
                        <div class="text-start">
                           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                           <form asp-action="Index" method="post">
                               <input asp-for="@Model.IncomeSource.IncomeId" type="hidden" />

                               <div class="form-group mb-2">
                                   <label asp-for="@Model.IncomeSource.Description">Description:</label>
                                    <input asp-for="@Model.IncomeSource.Description" type="text" class="form-control" placeholder="Enter description" />
                               </div>

                               <div class="form-group mb-2">
                                   <label asp-for="@Model.IncomeSource.Amount">Amount:</label>
                                   <input asp-for="@Model.IncomeSource.Amount" type="number" class="form-control" placeholder="Enter amount" />
                               </div>

                               <div class="form-group mb-2">
                                   <label asp-for="@Model.IncomeSource.RecieveDate">Receive Date:</label>
                                   <input asp-for="@Model.IncomeSource.RecieveDate" type="date" class="form-control" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
                               </div>

                               <button type="submit" class="btn btn-secondary mt-2">Submit</button>
                               <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Close</button>
                           </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>