@model BillsViewModel

<div class="container d-flex flex-column justify-content-center align-items-center"> 

    <h1>Edit Bill</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Edit" method="post">
        <div class="form-group mb-2">
            <label asp-for="@Model.Bill.Description">Description:</label>
            <input asp-for="@Model.Bill.Description" type="text" class="form-control" placeholder="Enter description">
        </div>
        <div class="form-group mb-2">
            <label asp-for="@Model.Bill.Amount">Amount:</label>
            <input asp-for="@Model.Bill.Amount" type="number" class="form-control" placeholder="Enter amount">
        </div>
        <div class="form-group mb-2">
            <label asp-for="@Model.Bill.DueDate">Due Date:</label>
            <input asp-for="@Model.Bill.DueDate" type="date" class="form-control" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Bill.CategoryId">Category</label>
            <select asp-for="@Model.Bill.CategoryId"
                    asp-items="@(new SelectList(Model.Categories, "CategoryId", "Description1"))"
                    class="form-control">
            </select>
        </div>

        <input asp-for="@Model.Bill.BillId" type="hidden" />
        <!--buttons-->
        <button type="submit" class="btn btn-secondary mt-2" asp-route-btnType="update">Save</button>
        <button type="submit" class="btn btn-danger mt-2" asp-route-btnType="delete">Delete</button>

    </form>
</div>

